.card{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
    padding: 20px;
    height: 300px; 
    padding: 30px;
    margin-left: 35px;
    margin-right: 35px;
}

.row{
    width: 100%;
    padding: 30px;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.15s ease-in-out;
}

.hf{
    text-align: center;
    padding: 50px;
    font-size: 40px;
    font-weight: 5  00;
}

.names{
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #333;
}

.header{
    position: relative;
    text-align: center;
    align-items: center;
}

.head{
    position: absolute;
    top: 2px;
    left: 34%;
}
.flag{
    opacity: 25%;
}